import(methods)
import(randomForest)
import(plyr)
import(vegan)
import(reshape2)
export("CSCI")
exportMethods(
    "initialize",
    "metrics",
    "nameMatch",
    "rForest",
    "score",
    "show",
    "subsample",
    "summary" 
)
exportClasses(
    "bugs",
     "mmi",
     "oe",
     "metricMean"
)


